{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="hero is-bold section is-dark is-fullheight-with-navbar">
        <div class="columns is-flex has-text-centered is-centered">
            <div class="column is-one-quarter">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="title has-text-primary">Veuillez entrez vos identifiants</h1>
                    <div class="field">
                        <label class="label has-text-white">Email</label>
                        <div class="control">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input is-primary" required autofocus>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-white">Mot de passe</label>
                        <div class="control">
                            <input type="password" name="password" id="inputPassword" class="form-control input is-primary" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="button is-success" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
