{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Connexion{% endblock %}

{% block body %}
    <section class="hero is-bold section is-dark is-fullheight-with-navbar">
        <div class="columns is-flex has-text-centered is-centered">
            <div class="column is-one-quarter">
                <form method="post">
                    {% if error %}
                        <div class="notification is-danger" style="position: fixed;bottom: 0;margin: .75rem;z-index: 50">
                            <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    {#{% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}#}

                    <h1 class="title has-text-primary">Veuillez entrez vos identifiants de connexion</h1>
                    <div class="field">
                        <label class="label has-text-white">Email</label>
                        <div class="control">
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input is-primary" required autofocus>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-white">Mot de passe</label>
                        <div class="control">
                            <input type="password" name="password" id="inputPassword" class="form-control input is-primary" required>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    
                    <div style="display: flex;justify-content: space-between">
                        <a class="button is-small is-info" href="{{ path('lost_password') }}">
                            Mot de passe oublié ?
                        </a>

                        <button class="button is-success is-small" type="submit">
                            Connexion
                        </button>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </section>

{% endblock %}
