
    {% if form_errors(registrationForm) != null %}
        <article class="message is-small is-danger">
            <div class="message-header">
                <p>Oops !</p>
                <span class="icon is-small has-text-white">
                    <i class="fas fa-lg fa-exclamation-triangle"></i>
                </span>
            </div>
            <div class="message-body has-text-left">
                {{ form_errors(registrationForm) }}
            </div>
        </article>
    {% endif %}

    <div class="field">
        <label class="label has-text-white">Email *</label>
        <div class="control has-icons-left">
            {{ form_widget(registrationForm.email, {'attr': {'class': 'input is-primary'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-at"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Mot de passe *</label>
        <div class="control has-icons-left">
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'input is-primary'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-unlock-alt"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Confirmer votre mot de passe *</label>
        <div class="control has-icons-left">
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'input is-primary'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-unlock-alt"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Pseudonyme</label>
        <div class="control has-icons-left">
            {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'input is-primary'}}) }}
            <span class="icon is-small is-left">
                <i class="fas fa-signature"></i>
            </span>
        </div>
    </div>

    <div class="field has-text-left">
        {{ form_widget(registrationForm.news, {'attr': {'class': 'switch is-small', 'name': 'registration_form_news'}}) }}
        <label for="registration_form_news" class="is-size-7">J'accepte de recevoir des mails sur les offres en provenance du site chrisBdev</label>
    </div>

    <div class="field has-text-left">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'switch is-small', 'name': 'registration_form_agreeTerms'}}) }}
{#        <input id="switchAgreeTerms" type="checkbox" name="switchAgreeTerms" class="switch is-small" required="required">#}
        <label for="registration_form_agreeTerms" class="is-size-7">J'accepte les <a target="_blank" href="{{ path('mentions_legales') }}">conditions générales</a> et la <a target="_blank" href="{{ path('politique_de_confidentialite') }}">politique de confidentialité</a></label>
    </div>

    <button type="submit" class="button is-green-custom is-small g-recaptcha"
            data-sitekey="6LfSl9wZAAAAACPrrml-QieLt8K7CfycrC1vJwMr"
            data-callback='onSubmit'
            data-action='submit'>
        <span class="icon">
            <i class="fas fa-check"></i>
        </span>
        <span>
            S'enregistrer
        </span>
    </button>

