{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Register{% endblock %}

{% block body %}



<section class="hero is-bold section is-dark is-fullheight-with-navbar">
    <div class="columns is-flex has-text-centered is-centered">

        <div class="column is-one-quarter">
            <h1 class="title has-text-primary">Création de mon espace utilisateur</h1>

            {{ form_start(registrationForm) }}

            {% if form_errors(registrationForm) != null %}
                <span class="tag is-danger">
                            {{ form_errors(registrationForm) }}
                            <button class="delete is-small" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                        </span>
            {% endif %}

            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Mot de passe</label>
                <div class="control">
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Confirmer votre mot de passe</label>
                <div class="control">
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <button type="submit" class="button is-success is-small">S'enregistrer</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>



{% endblock %}
