{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Register{% endblock %}

{% block body %}



<section class="hero is-bold section is-dark is-fullheight-with-navbar">
    <div class="columns is-flex has-text-centered is-centered">

        {% if form_errors(registrationForm) != null %}
            <div class="notification is-danger" style="position: fixed;bottom: 0;margin: .75rem;z-index: 50">
                <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                {{ form_errors(registrationForm) }}
            </div>
        {% endif %}

        <div class="column is-one-quarter">
            <h1 class="title has-text-primary">Enregistrer un compte</h1>
            {{ form_start(registrationForm) }}
            <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Mot de passe</label>
                <div class="control">
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <div class="field">
                <label class="label has-text-white">Confirmer votre mot de passe</label>
                <div class="control">
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'input is-primary'}}) }}
                </div>
            </div>

            <button type="submit" class="button is-success is-small">S'enregistrer</button>

            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>



{% endblock %}
