<div style="
    position: absolute;
    top: 0;left: 0;
    background: center / cover no-repeat url({{ asset('build/images/cubes-2492010_1920.2afd1ade.jpg') }});
    width: 100%;
    height: 100%">

    <div class="navbar-layer-bg" style="width: 100%;height: 100%;background: rgba(1, 20, 1, 0.9)">
    </div>

</div>


    <nav class="navbar has-text-centered" role="navigation" aria-label="main navigation" style="box-shadow: black 0 0 20px 3px;align-items: center">
        <div class="navbar-brand" style="align-items: center;">
            <figure id="figureLogo">
                <a class="logo is-flex" href="{{ path('home') }}">
                    <img src="{{ asset('build/images/Chris B Dev - Logo - reduit.98de0cf1.svg') }}" alt="" width="100">
                </a>
            </figure>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>


        <div class="is-size-4 navbar-menu" style="justify-content: center" id="navMenu">
            <div class="navbar navbar-start">

                <a class="navbar-item is-size-5 is-size-3-touch" href="{{ path('home') }}#presentation" style="justify-content: center;display: flex;">
                     Présentation
                </a>

                <a class="navbar-item is-size-5 is-size-3-touch" href="{{ path('home') }}#projets" style="justify-content: center;display: flex;">
                    Projets
                </a>

                <a class="navbar-item is-size-5 is-size-3-touch" href="{{ path('home') }}#competences" style="justify-content: center;display: flex;">
                    Compétences
                </a>

{#                <a class="navbar-item" href="{{ path('home') }}#cv" style="justify-content: center;display: flex;">#}
{#                    CV#}
{#                </a>#}

                <a class="navbar-item is-size-5 is-size-3-touch" href="{{ path('contact') }}" style="justify-content: center;display: flex;">
                    Contact
                </a>

            </div>


            {% if is_granted("ROLE_USER") %}

                <div class="navbar-end">
                    <div class="navbar-item">

                        <div class="control">
                            <div class="tags is-centered" style="flex-direction: column">
                                <a style="width: 100%;margin-left: 0" title="Mon profil" href="{{ path('user_space') }}" class="tag is-size-6-touch {% if 'ROLE_ADMIN' in app.user.roles %}is-dark has-text-warning{% else %}is-light{% endif %} is-normal has-text-weight-bold">{% if app.user.name %}{{ app.user.name }}{% else %}{{ app.user.username }}{% endif %}</a>
                                <a style="width: 100%;margin-left: 0" href="{{ path('app_logout') }}" class="tag is-danger is-normal is-size-6-touch">
                                    <strong>Déconnexion</strong>
                                    <span class="icon">
                                        <i class="fas fa-lg fa-sign-out-alt"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="navbar-end">
                    <div class="navbar-item">

                        <div class="control">
                            <div class="tags is-centered" style="flex-direction: column">
                                <a style="width: 100%;margin-left: 0" href="{{ path('app_login') }}" class="tag is-success is-normal is-size-6-touch" title="se connecter à mon espace">
                                    <strong>Connexion</strong>
                                    <span class="icon">
                                        <i class="fas fa-lg fa-sign-in-alt"></i>
                                    </span>
                                </a>
                                <a style="width: 100%;margin-left: 0" href="{{ path('app_register') }}" class="tag is-info is-size-6-touch" title="créer son profile">
                                    <strong>S'enregistrer</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>


    </nav>

