<div class="container is-flex" style="justify-content: center">
    <div class="column is-flex box is-half has-text-centered" style="background: rgba(100,100,100,0.5);box-shadow: rgb(0, 0, 0) 0px 0px 15px;position: relative">

        <article class="column has-text-centered">

            <div class="field">
                <label class="label has-text-light">Nom</label>
                <div class="control has-icons-left">
                                    {{ form_row(messageForm.nom, {'attr' : { 'class' : 'input','title' : 'Nom', 'placeholder' : 'Mon nom', 'alt' : 'Nom'}
                                    }) }}
                            <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-male"></i>
                            </span>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-light">Prénom</label>
                <div class="control has-icons-left">
                                    {{ form_row(messageForm.prenom, {'attr' : { 'class' : 'input','title' : 'Prénom', 'placeholder' : 'Mon prénom', 'alt' : 'Prénom'}
                                    }) }}
                    <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-user"></i>
                            </span>
                </div>

            </div>

            <div class="field">
                <label class="label has-text-light">Email *</label>
                <div class="control has-icons-left">
                                    {{ form_row(messageForm.email, {'attr' : { 'class' : 'input','title' : 'Email *', 'placeholder' : 'ex : mon-adresse-mail@gmail.com', 'alt' : 'email'}
                                    }) }}
                    <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-envelope"></i>
                            </span>

                </div>

            </div>

            <div class="field">
                <label class="label has-text-light">Objet</label>
                <div class="control has-icons-left">
                                    {{ form_row(messageForm.objet, {'attr' : { 'class' : 'input','title' : 'Objet', 'placeholder' : 'Entrer le sujet de votre message', 'alt' : 'objet'}
                                    }) }}
                    <span class="icon is-small is-left" style="z-index: 0;">
                                <i class="fas fa-hashtag"></i>
                            </span>
                </div>

            </div>

            <div class="field">
                <label class="label has-text-light">Message *</label>
                <div class="control">
                                    {{ form_row(messageForm.text, {'attr' : { 'class' : 'textarea ','title' : 'Message *', 'placeholder' : 'Mon message', 'alt' : 'message'}
                                    }) }}
                </div>
            </div>

            <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                <div class="control">
                    <button class="button is-green-custom" type="submit">Envoyer</button>
                </div>
            </div>

        </article>
    </div>
</div>


