{% extends 'base.html.twig' %}

{% block title %}chrisBdev - Ajouter un projet{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative">

            <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
                Ajouter un projet
            </h1>

            <div class="box column is-two-fifths is-full-touch has-background-black-bis" style="align-self: center">

                <div class="column half-touch has-text-centered is-flex">

                    <span class="icon is-medium">
                        <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}#projets" title="Revenir à l'accueil">
                            <span style="text-decoration: none" class="fas fa-lg fa-arrow-left"></span>
                        </a>
                    </span>

                </div>

                {{ form_start(projet_form) }}

                <div class="field">
                    <label class="label">Titre</label>
                    <div class="control">
                        {{ form_row(projet_form.title, {'attr' : {
                                'class' : 'input',
                                'placeholder' : 'ex : chris B developper',
                                'alt' : 'Titre'
                            }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Année de réalisation</label>
                    <div class="control">
                        {{ form_row(projet_form.dateReal, {'attr' : {
                            'class' : 'input',
                            'placeholder' : 'ex : 2015',
                            'alt' : 'Date de réalisation'
                        }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Type de développement</label>
                    <div class="control select" style="width: 100%">
                        {{ form_row(projet_form.typedev, {placeholder: 'Selectionner ...', 'attr' : {
                            'class' : 'select input',
                            'alt' : 'Type de développement'
                        }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Texte</label>
                    <div class="control">
                        {{ form_row(projet_form.text, {'attr' : {
                                'class' : 'textarea',
                                'placeholder' : 'Entre le text de la présentation',
                                'pattern' : '[0-9]{10}',
                                'alt' : 'Text de la présentation',
                                'style' :  'resize:none'
                            }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Lien url du projet</label>
                    <div class="control">
                        {{ form_row(projet_form.link, {'attr' : {
                            'class' : 'input',
                            'placeholder' : 'ex : https://chrisbdev.com',
                            'alt' : 'url du projet'
                        }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Image d'illustration</label>

                    <div class="control">
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form_row(projet_form.img, {'attr' : {
                                    'class' : 'file-input',
                                    'alt' : 'Uploader une image'} }) }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name has-background-grey-lighter">
                                        Aucune image uploadé
                                </span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                    <div class="control">
                        <button class="button is-green-custom" type="submit">Ajouter le projet</button>
                    </div>
                </div>

                {{ form_end(projet_form) }}
            </div>

        </section>
    {% endif %}

    {% include 'flash_message.html.twig' %}

{% endblock %}