<div class="field">
    <label class="label has-text-light">Image d'illustration</label>

    {% if projet.imgProjetName %}
        <figure class="figure" style="position: relative;margin-bottom: .75rem">
            <a href="{{ path('projet_del_img', {'id': projet.id}) }}" class="delete is-large" style="position: absolute;top: .3rem;right: .3rem;"></a>
            <img class="img-thumb-projet" src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb') }}" alt="{{ projet.imgProjetName }}">
        </figure>
    {% else %}
        <figure class="figure" style="position: relative;margin-bottom: .75rem">
            <img class="img-thumb-projet" src="" alt="">
        </figure>
    {% endif %}

    <div class="control">
        <div class="file has-name is-fullwidth js-file">
            <label class="file-label">
                {{ form_widget(projet_form.img, {'attr' : {
                    'class' : 'file-input',
                    'alt' : 'Uploader une image'} }) }}
                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choisir un fichier…
                                    </span>
                                </span>
                <span class="file-name has-background-grey-lighter">
                    {% if projet.imgProjetName %}
                        {{ projet.imgProjetName }}
                    {% else %}
                        Aucune image uploadé
                    {% endif %}
                </span>
            </label>
        </div>
    </div>


    <div class="is-flex-desktop">

        <div class="column is-one-third-desktop">
            {{ include('sections/projets/includes/img_form/img_1_form.html.twig') }}
        </div>

        <div class="column is-one-third-desktop">
            {{ include('sections/projets/includes/img_form/img_2_form.html.twig') }}
        </div>

        <div class="column is-one-third-desktop">
            {{ include('sections/projets/includes/img_form/img_3_form.html.twig') }}
        </div>

    </div>

</div>