<div class="column box-projet is-one-third" id="boxProjet{{ projet.id }}">
    <a onclick="openModal({{ projet.id }})">
        <div class="box">

            <figure class="image is-4by3"
                    {% if projet.imgProjetName %}
                    style="background: center / cover no-repeat url('{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb') }}')"
                    {% else %}
                    style="background: center / cover no-repeat url('https://bulma.io/images/placeholders/1280x960.png')"
                    {% endif %}
                    >
            </figure>

            <div class="container">
                <h3 class="subtitle is-3 has-text-green-neon has-text-centered">{{ projet.title }}</h3>

                <p class="has-text-light" style="overflow: hidden;text-overflow: ellipsis;height: 100px;position: relative;background: linear-gradient(rgb(255,255,255) 0%, rgba(0,0,0,0) 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;">
                    {{ projet.text }}
                </p>
            </div>

        </div>
    </a>

    {% if is_granted('ROLE_ADMIN') %}
        <hr class="has-background-white">
        <div style="display: flex;">

            <div class="column half-touch has-text-centered">
                                <span class="icon is-medium">
                                    <a style="text-decoration: none" href="{{ path('edit_projet', {'id': projet.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer le projet"></a>
                                </span>
            </div>

            <div class="column half-touch has-text-centered">
                                <span class="icon is-medium">
                                    <a style="text-decoration: none" href="{{ path('del_projet', {'id': projet.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer le projet"></a>
                                </span>
            </div>

        </div>
    {% endif %}
</div>

