{% extends 'base.html.twig' %}

{% block title %}chrisBdev - Modifier un attribut{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative; padding: 2rem">

            <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
                Modificer la attribut
            </h1>
            <h2 class="subtitle has-text-black-bis is-family-primary is-4">" {{ attribut.title }} "</h2>

            <div class="box column is-two-fifths is-full-touch has-background-black-bis" style="align-self: center">

                <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                    <span class="icon is-medium">
                        <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}" title="Revenir à l'accueil">
                            <span style="text-decoration: none" class="fas fa-lg fa-arrow-left has-text-dark"></span>
                        </a>
                    </span>

                    <span class="icon is-medium">
                        <a style="text-decoration: none" href="{{ path('attribut_del', {'id': attribut.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer l'attribut"></a>
                    </span>

                </div>

                {{ form_start(attribut_form) }}

                <div class="field">
                    <label class="label">Titre de l'attribut</label>
                    <div class="control">
                        {{ form_row(attribut_form.title, {'attr' : {
                            'class' : 'input',
                            'placeholder' : 'ex : HTML',
                            'alt' : 'nom de la attribut'
                        }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Info bulle</label>
                    <div class="control">
                        {{ form_row(attribut_form.text, {'attr' : {
                            'class' : 'textarea',
                            'placeholder' : 'ex : Hypertext Markup Language',
                            'alt' : 'info bulle'
                        }
                        }) }}
                    </div>
                </div>

                <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                    <div class="control">
                        <button class="button is-green-custom" type="submit">Valider les modifications</button>
                    </div>
                </div>

                {{ form_end(attribut_form) }}

            </div>

        </section>
    {% endif %}

    {% include 'flash_message.html.twig' %}

{% endblock %}