<div id="modal-{{ projet.id }}" class="modal">
    <div class="modal-background" onclick="closeModal({{ projet.id }})"></div>

    <div class="modal-content-custom" id="modal-content-custom">

        {% if is_granted('ROLE_ADMIN') %}
            <div style="display: flex;justify-content: start;">
                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('edit_projet', {'id': projet.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer le projet"></a>
                </span>
            </div>
        {% endif %}


            <div class="column has-text-centered">
                <h3 class="subtitle is-3 is-uppercase has-text-green-neon">{{ projet.title }}</h3>
            </div>

            <div class="columns">

                <div class="column">
                    <figure class="">
                        {% if projet.imgProjetName %}
                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/1280x960.png">
                        {% endif %}
                    </figure>
                </div>

                <div class="column">
                    <figure class="">
                        {% if projet.imgProjetName %}
                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/1280x960.png">
                        {% endif %}
                    </figure>
                </div>

                <div class="column">
                    <figure class="">
                        {% if projet.imgProjetName %}
                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/1280x960.png">
                        {% endif %}
                    </figure>
                </div>

            </div>

        <div class="column" style="display: flex;justify-content: space-between;align-items: center;border-bottom: rgba(255,255,255,.1) solid 1px;">
            <div class="tags has-addons" style="margin: 0">
                <span class="tag" style="margin: 0">Année de réalisation</span>
                <span class="tag is-primary" style="margin: 0">{{ projet.dateReal }}</span>
            </div>

            <div class="is-uppercase">
                {{ projet.typedev }}
            </div>
        </div>




            <div class="column">
                <p>{{ projet.text }}</p>
            </div>

            <div class="columns is-multiline" style="padding: .75rem;margin: 0">

                <div class="column is-half" id="charaProjet1">
                    <div class="field is-grouped is-grouped-multiline">

                            {% for attribut in projet.attributs %}

                                <div id="attribut-{{ attribut.id }}" class="column is-half attribut" style="display: flex;align-items: center;position: relative">

                                    <span class="icon is-medium">
                                        <i class="fas fa fa-check-circle"></i>
                                    </span>

                                    <div class="is-size-5 is-family-secondary">
                                        {{ attribut.title }}
                                    </div>

                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div style="margin: 0 1rem">
                                        <a class="fas fa-edit has-text-warning" href="{{ path('edit_attribut', {'id': attribut.id}) }}" title="modifier l'attribut" style="text-shadow: none"></a>
                                        <span class="icon is-small">
                                            <a style="text-decoration: none;text-shadow: none" href="{{ path('del_attribut', {'id': attribut.id}) }}" class="fas fa-times-circle has-text-danger" title="supprimer l'attribut"></a>
                                        </span>
                                    </div>
                                    {% endif %}


                                    {{ include('sections/projets/includes/attribut_help_box.html.twig') }}

                                </div>

                            {% endfor %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="column is-half" style="display: flex;align-items: center;justify-content:center;position: relative">

                                    <a class="tag icon" href="{{ path('add_attribut') }}" style="text-decoration: none" title="Ajouter un attribut">
                                        <i  class="fas fa-lg fa-plus-circle has-text-black-bis" ></i>
                                    </a>

                                </div>
                            {% endif %}

                    </div>
                </div>


                <div class="column is-half" id="charaProjet2">
                    <div class="column">

                        <div class="field is-grouped is-grouped-multiline">
                            {% for techno in projet.techno %}
                                <div class="control">
                                    <div class="tags has-addons">
                                        {% if techno.help %}
                                            <span class="tag is-warning is-overable-green-help" title="{{ techno.help }}">#{{ techno.name }}</span>
                                        {% else %}
                                            <span class="tag is-warning is-overable-green" title="{{ techno.help }}">#{{ techno.name }}</span>
                                        {% endif %}

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="tag fas fa-2x fa-edit has-text-warning" href="{{ path('edit_techno', {'id': techno.id}) }}" title="modifier la technologie"></a>
                                            <a class="tag is-delete" href="{{ path('del_techno', {'id': techno.id}) }}" title="supprimer la technologie"></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="tag icon" href="{{ path('add_techno') }}" style="text-decoration: none" title="Ajouter une technologie">
                                    <i  class="fas fa-lg fa-plus-circle has-text-black-bis" ></i>
                                </a>
                            {% endif %}

                        </div>






                        </div>

                    </div>
                </div>

            </div>

        {% if projet.link %}
        <div class="column is-flex-desktop" style="justify-content: end;">
            <a class="button is-green-custom" target="_blank" href="{{ projet.link }}">Visiter le site</a>
        </div>
        {% endif %}

    <button class="modal-close is-large" aria-label="close" onclick="closeModal({{ projet.id }})"></button>

</div>



<script>
    function openModal(id) {
        document.getElementById('modal-'+id).style.display = "flex";
        setTimeout(function () {
            document.getElementById('modal-'+id).style.opacity = '1';
        },50);

    }

    function closeModal(id) {
        document.getElementById('modal-'+id).style.opacity = '0';
        setTimeout(function () {
            document.getElementById('modal-'+id).style.display = "none";
        },500);
    }
</script>