<div id="modal-{{ projet.id }}" class="modal">
    <div class="modal-background" onclick="closeModal({{ projet.id }})"></div>

    <div class="modal-content-custom" id="modal-content-custom">

        {% if is_granted('ROLE_ADMIN') %}
            <div style="display: flex;justify-content: start;">
                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('projet_edit', {'id': projet.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer le projet"></a>
                </span>
            </div>
        {% endif %}


            <div class="column has-text-centered">
                <h3 class="subtitle is-3 is-uppercase has-text-green-neon">{{ projet.title }}</h3>
            </div>

            <div class="columns">

                <div class="column">
                    <figure class="">
                        {% if projet.imgProjetName %}
                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}" alt="{{ projet.imgProjetName }}">
                        {% else %}
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="no img">
                        {% endif %}
                    </figure>
                </div>

{#                <div class="column">#}
{#                    <figure class="">#}
{#                        {% if projet.imgProjetName %}#}
{#                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}">#}
{#                        {% else %}#}
{#                            <img src="https://bulma.io/images/placeholders/1280x960.png">#}
{#                        {% endif %}#}
{#                    </figure>#}
{#                </div>#}

{#                <div class="column">#}
{#                    <figure class="">#}
{#                        {% if projet.imgProjetName %}#}
{#                            <img src="{{ vich_uploader_asset(projet, 'img') | imagine_filter('thumb_small') }}">#}
{#                        {% else %}#}
{#                            <img src="https://bulma.io/images/placeholders/1280x960.png">#}
{#                        {% endif %}#}
{#                    </figure>#}
{#                </div>#}

            </div>

        <div class="column is-flex-desktop" style="justify-content: space-between;align-items: center;border-bottom: rgba(255,255,255,.1) solid 1px;">

            <div class="tags has-addons is-centered" style="margin: 0">

                <span class="icon tag is-primary has-text-light">
                    <i class="far fa-lg fa-calendar-alt"></i>
                </span>

                <span class="tag" style="flex: 1;">{{ projet.dateReal }}</span>

            </div>


            <div class="tags has-addons is-centered" style="margin: 0">

                <span class="icon tag is-primary has-text-light">
                    <i class="fas fa-lg fa-code"></i>
                </span>

                <div class="tag is-uppercase" style="flex: 1;">
                    {{ projet.typedev }}
                </div>

            </div>

        </div>


            <div class="column has-text-white">
                <p>{{ projet.text }}</p>
            </div>


            <div class="columns is-multiline" style="padding: .75rem;margin: 0">

                <div class="column is-half" id="charaProjet1">

                    <span class="tag is-primary is-uppercase has-text-weight-bold" style="width: 100%">Les attributs du site</span>

                    <div class="field is-grouped is-grouped-multiline">

                            {% for attribut in projet.attributs %}

                                <div id="attribut-{{ attribut.id }}{{ projet.id }}" class="column is-half is-full-touch attribut" style="display: flex;align-items: center;position: relative">

                                    <span class="icon is-medium">
                                        <i class="fas fa fa-check-circle"></i>
                                    </span>

                                    <div class="is-size-5 is-family-secondary">
                                        {{ attribut.title }}
                                    </div>

                                    {% if is_granted('ROLE_ADMIN') %}
                                    <div style="margin: 0 1rem">
                                        <a class="fas fa-edit has-text-warning" href="{{ path('attribut_edit', {'id': attribut.id}) }}" title="modifier l'attribut" style="text-shadow: none"></a>
                                        <span class="icon is-small">
                                            <a style="text-decoration: none;text-shadow: none" href="{{ path('attribut_del', {'id': attribut.id}) }}" class="fas fa-times-circle has-text-danger" title="supprimer l'attribut"></a>
                                        </span>
                                    </div>
                                    {% endif %}


                                    {{ include('sections/projets/includes/attribut_help_box.html.twig') }}

                                </div>

                            {% endfor %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="column is-half" style="display: flex;align-items: center;justify-content:center;position: relative">

                                    <a class="tag icon" href="{{ path('attribut_add') }}" style="text-decoration: none" title="Ajouter un attribut">
                                        <i  class="fas fa-lg fa-plus-circle has-text-black-bis" ></i>
                                    </a>

                                </div>
                            {% endif %}

                    </div>
                </div>


                <div class="column is-half" id="charaProjet2">

                    <span class="tag is-primary is-uppercase has-text-weight-bold" style="width: 100%">Technologies utilisées</span>

                    <div class="column">

                        <div class="field is-grouped is-grouped-multiline" style="position:relative;">

                            {% for techno in projet.techno %}

                                <div class="control" id="techno-{{ techno.id }}{{ projet.id }}">

                                    <div class="tags has-addons">

                                        {% if techno.help %}
                                            <span class="tag is-light is-overable-warning-help" title="{{ techno.help }}">#{{ techno.name }}</span>
                                        {% else %}
                                            <span class="tag is-light is-overable-warning" title="{{ techno.help }}">#{{ techno.name }}</span>
                                        {% endif %}

                                        {% if is_granted('ROLE_ADMIN') %}
                                            <a class="tag fas fa-2x fa-edit has-text-warning" href="{{ path('techno_edit', {'id': techno.id}) }}" title="modifier la technologie"></a>
                                            <a class="tag is-delete" href="{{ path('techno_del', {'id': techno.id}) }}" title="supprimer la technologie"></a>
                                        {% endif %}
                                    </div>

                                </div>
                                {{ include('sections/projets/includes/techno_help_box.html.twig') }}
                            {% endfor %}

                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="tag icon" href="{{ path('techno_add') }}" style="text-decoration: none" title="Ajouter une technologie">
                                    <i  class="fas fa-lg fa-plus-circle has-text-black-bis" ></i>
                                </a>
                            {% endif %}

                        </div>






                        </div>

                    </div>
                </div>

            </div>

        {% if projet.link %}
        <div class="column is-flex-desktop" style="justify-content: end;">
            <a class="button is-green-custom" target="_blank" href="{{ projet.link }}">Visiter le site</a>
        </div>
        {% endif %}

    <button class="modal-close is-large" aria-label="close" onclick="closeModal({{ projet.id }})"></button>

</div>



<script>
    function openModal(id) {
        document.getElementById('modal-'+id).style.display = "flex";
        setTimeout(function () {
            document.getElementById('modal-'+id).style.opacity = '1';
        },50);

    }

    function closeModal(id) {
        document.getElementById('modal-'+id).style.opacity = '0';
        setTimeout(function () {
            document.getElementById('modal-'+id).style.display = "none";
        },500);
    }
</script>