{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
    <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative">

        <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
            Ajouter une compétence
        </h1>

        <div class="box column is-two-fifths is-four-fifths-touch has-background-black-bis" style="align-self: center">
            {{ form_start(comp_form) }}

            <div class="field">
                <label class="label">Compétence</label>
                <div class="control">
                    {{ form_row(comp_form.name, {'attr' : {'class' : 'input', 'placeholder' : 'ex : HTML', 'alt' : 'Compétence' }
                    }) }}
                </div>
            </div>

            <div class="field">
                <label class="label">Valeur</label>
                <div class="control">
                    {{ form_row(comp_form.value, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 80', 'alt' : 'Valeur' }
                    }) }}
                </div>
            </div>

            <div class="field">
                <label class="label">Couleur</label>
                <div class="control">
                    {{ form_row(comp_form.color, {'attr' : {'class' : 'input', 'placeholder' : 'ex : blue', 'pattern' : '[0-9]{10}', 'alt' : 'Couleur' }
                    }) }}
                </div>
            </div>

            <div class="column is-centered">
                <button type="submit" style="width: 100%;" class="button is-info">Valider</button>
            </div>

            {{ form_end(comp_form) }}
        </div>

        <a href="{{ path('home') }}#presentation" class="button is-danger">
            Retour
        </a>


    </section>
    {% endif %}

{% endblock %}