{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(comp_form) }}

    <div class="field">
        <label class="label">Compétence</label>
        <div class="control">
            {{ form_row(comp_form.name, {'attr' : {'class' : 'input', 'placeholder' : 'ex : HTML', 'alt' : 'Compétence' }
            }) }}
        </div>
    </div>

    <div class="field">
        <label class="label">Valeur</label>
        <div class="control">
            {{ form_row(comp_form.value, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 80', 'alt' : 'Valeur' }
            }) }}
        </div>
    </div>

    <div class="field">
        <label class="label">Couleur</label>
        <div class="control">
            {{ form_row(comp_form.color, {'attr' : {'class' : 'input', 'placeholder' : 'ex : blue', 'pattern' : '[0-9]{10}', 'alt' : 'Couleur' }
            }) }}
        </div>
    </div>

    <div class="column is-centered">
        <button type="submit" style="width: 100%;" class="button is-info">Ajouter une compétence</button>
    </div>
    {{ form_end(comp_form) }}
{% endblock %}