    <div style="margin: auto" class="competence is-flex-desktop column is-two-thirds is-full-touch is-center" id="competence-{{ competences.id }}">
        <div class="is-flex column">
            {% if is_granted("ROLE_ADMIN") %}

                <div style="display: flex;align-items: center" class="column is-centered">
                    <span class="icon is-medium">
                        <a href="{{ path('del_comp', {'id': competences.id}) }}" class="fas fa-2x fa-minus-circle has-text-danger" title="supprimer la compétence"></a>
                    </span>
                </div>

                <div class="column half-touch has-text-centered">
                    <a class="is-warning button is-small has-text-weight-bold" href="{{ path('edit_comp', {'id': competences.id }) }}">
                        éditer
                    </a>
                </div>
            {% endif %}

            <h4 class="column half-touch has-text-centered">{{ competences.name }}</h4>
        </div>


        <div class="column is-three-quarters is-full-touch" style="display: flex;align-items: center">
            <progress class="progress is-large is-primary" value="{{ competences.value }}" max="100">{{ competences.value }}%</progress>
        </div>

    </div>




