    <div style="justify-content: center" class="competence has-background-dark is-flex-desktop mt-2 mb-2 is-full" id="competence-{{ competences.id }}">

        {% if is_granted("ROLE_ADMIN") %}

            <div class="column is-fullwidth has-background-black-bis has-text-primary" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">
                <h4 class="is-family-primary half-touch has-text-centered is-{{ competences.color }}">{{ competences.name }}</h4>
            </div>

            <div class="column is-8 is-full-touch" style="display: flex;align-items: center;position: relative;">
                <span  id="percent-{{ competences.id }}" class="is-family-secondary has-text-centered has-text-dark is-size-4 percent is-hidden-touch" >{{ competences.value }}%</span>
                <span style="position: absolute;left: {{ (competences.value / 2) - 3 }}%;" class="is-family-secondary has-text-centered has-text-dark is-size-4 is-hidden-desktop" >{{ competences.value }}%</span>
                <progress class="progress is-large is-{{ competences.color }}" value="{{ competences.value }}" max="100">{{ competences.value }}%</progress>
            </div>

            <div class="column is-fullwidth is-one-fifth-desktop" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">

                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('edit_comp', {'id': competences.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer la compétence"></a>
                </span>

                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('del_comp', {'id': competences.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la compétence"></a>
                </span>

            </div>

        {% else %}
        <div class="column is-fullwidth has-background-black-bis has-text-primary" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">
            <h4 class="is-family-primary half-touch has-text-centered is-{{ competences.color }}">{{ competences.name }}</h4>
        </div>

            <div class="column is-10 is-full-touch" style="display: flex;align-items: center;position: relative;">
                <span  id="percent-{{ competences.id }}" class="is-family-secondary has-text-centered has-text-dark is-size-4 percent is-hidden-touch" >{{ competences.value }}%</span>
                <span style="position: absolute;left: {{ (competences.value / 2) - 3 }}%;" class="is-family-secondary has-text-centered has-text-dark is-size-4 is-hidden-desktop" >{{ competences.value }}%</span>
                <progress class="progress is-large is-{{ competences.color }}" value="{{ competences.value }}" max="100">{{ competences.value }}%</progress>
            </div>
        {% endif %}

    </div>

    <script>
        let competence{{ competences.id }} = document.getElementById('competence-{{ competences.id }}');
        let competencePercent{{ competences.id }} = document.getElementById('percent-{{ competences.id }}');

        competence{{ competences.id }}.addEventListener('mouseover', event => {
            competencePercent{{ competences.id }}.style.opacity = '1';
            competencePercent{{ competences.id }}.style.left = '{{ competences.value - 10 }}%';
        });
        competence{{ competences.id }}.addEventListener('mouseleave', event => {
            setTimeout(function () {
                competencePercent{{ competences.id }}.style.opacity = '0';
                competencePercent{{ competences.id }}.style.left = '1%';
            },500);

        })

    </script>



