    <div style="justify-content: center" class="competence has-background-dark is-flex-desktop mt-2 mb-2 is-full" id="competence-{{ competences.id }}">

        {% if is_granted("ROLE_ADMIN") %}

            <div class="column is-fullwidth has-background-black-bis has-text-primary" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">
                <h4 class="is-family-primary half-touch has-text-centered is-{{ competences.color }}">{{ competences.name }}</h4>
            </div>

            <div class="column is-8 is-full-touch" style="display: flex;align-items: center;position: relative;">
                <progress class="progress is-medium is-{{ competences.color }}" id="progress-{{ competences.id }}" value="{{ competences.value }}" max="100"></progress>
            </div>

            <div class="column is-fullwidth is-one-fifth-desktop" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">

                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('edit_comp', {'id': competences.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer la compétence"></a>
                </span>

                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('del_comp', {'id': competences.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la compétence"></a>
                </span>

            </div>

        {% else %}
            <div class="column is-fullwidth has-background-black-bis has-text-primary" style="display: flex;align-items: center;justify-content: space-evenly;flex-direction: row">
                <h4 class="is-family-primary half-touch has-text-centered is-{{ competences.color }}">{{ competences.name }}</h4>
            </div>

            <div class="column is-0 is-full-touch progress-column" style="display: flex;align-items: center;position: relative" id="progress-column-{{ competences.id }}">
                <progress class="progress is-medium is-{{ competences.color }}" id="progress-{{ competences.id }}" value="{{ competences.value }}" max="100"></progress>
            </div>
        {% endif %}

    </div>

    <script>
        let competence{{ competences.id }} = document.getElementById('competence-{{ competences.id }}');
        let competenceProgress{{ competences.id }} = document.getElementById('progress-{{ competences.id }}');
        let competenceProgressColumn{{ competences.id }} = document.getElementById('progress-column-{{ competences.id }}');
        let deployProgress{{ competences.id }} = false;

            competence{{ competences.id }}.addEventListener('mouseover', event => {
                competenceProgress{{ competences.id }}.style.opacity = '1';
                competenceProgressColumn{{ competences.id }}.classList.remove('is-0');
                competenceProgressColumn{{ competences.id }}.classList.add('is-10');
                {#competenceProgressColumn{{ competences.id }}.style.padding = '.75rem';#}
            });

    </script>



