{% extends 'base.html.twig' %}

{% block title %}Chris B Dev - Modifier une compétence{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
    <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative">

        <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
            Modifier la compétence
        </h1>
        <h2 class="subtitle has-text-black-bis is-family-primary is-4">"{{ competence.name }}"</h2>

        <div class="box column is-two-fifths is-full-touch has-background-black-bis" style="align-self: center">

            <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                <span class="icon is-medium">
                    <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}#competences" title="Revenir à l'accueil">
                        <span style="text-decoration: none" class="fas fa-lg fa-arrow-left has-text-dark"></span>
                    </a>
                </span>

                <span class="icon is-medium">
                    <a style="text-decoration: none" href="{{ path('comp_del', {'id': competence.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la compétence"></a>
                </span>

            </div>

            {{ form_start(comp_form) }}

            <div class="field">

                <label class="label">Titre de la compétence</label>

                <div class="control" style="display: flex;align-items: center;justify-content: space-between">

                    <div class="select is-fullwidth">
                        {{ form_widget(comp_form.name, {'attr' : {'placeholder' : 'ex : HTML', 'alt' : 'Compétence' }
                        }) }}
                    </div>

                    <a class="tag icon is-medium" href="{{ path('techno_add') }}" style="text-decoration: none;margin-left: .75rem" title="Ajouter une technologie">
                        <i  class="fas fa-lg fa-plus-circle has-text-black-bis" ></i>
                    </a>

                </div>

            </div>

            <div class="field">
                <label class="label">Valeur en %</label>
                <div class="control">
                    {{ form_widget(comp_form.value, {'attr' : {'class' : 'input', 'placeholder' : 'ex : 80', 'alt' : 'Valeur' }
                    }) }}
                </div>
            </div>

            <div class="field">
                <label class="label">Couleur</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        {{ form_widget(comp_form.color, {'attr' : {'class' : 'input', 'placeholder' : 'ex : blue', 'pattern' : '[0-9]{10}', 'alt' : 'Couleur' }
                        }) }}
                    </div>
                </div>
            </div>

            <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                <div class="control">
                    <button class="button is-green-custom" type="submit">Valider les modifications</button>
                </div>
            </div>

            {{ form_end(comp_form) }}

        </div>

    </section>
    {% endif %}

{% endblock %}