<div id="projets" style="position: relative;top: -8rem;"></div>
<section class="hero is-light is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-dark has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                Projets
                <span class="icon has-text-dark is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
            </h2>
        </div>
    </div>

    <div class="columns is-multiline is-centered" style="padding: 0 1.5rem">

        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}

    </div>


</section>