<div id="projets" style="position: relative;top: -8rem;"></div>
<section class="hero is-light is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-black has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left">
                Projets
                <span class="icon is-large has-text-black is-hidden-touch" style="position: absolute;right: 5%">
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                    <i class="fas fa-3x fa-angle-left"></i>
                </span>
            </h2>
        </div>
    </div>

    <div class="columns is-multiline is-centered" style="padding: 0 1.5rem">

        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}
        {{ include('sections/projets/includes/box_projet.html.twig') }}

    </div>


</section>