{% extends 'base.html.twig' %}

{% block title %}chrisBdev - Ajouter une présentation{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative;padding: 2rem">

            <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
                Ajouter une présentation
            </h1>

            <div class="box column is-two-fifths is-full-touch has-background-black-bis" style="align-self: center">

                <div class="column half-touch has-text-centered is-flex">

                    <span class="icon is-medium">
                        <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}#presentations" title="Revenir à l'accueil">
                            <span style="text-decoration: none" class="fas fa-lg fa-arrow-left"></span>
                        </a>
                    </span>

                </div>

                {{ form_start(presentation_form) }}

                <div class="field">
                    <label class="label">Titre</label>
                    <div class="control">
                        {{ form_widget(presentation_form.title, {'attr' : {
                                'class' : 'input',
                                'placeholder' : 'ex : chris B developper',
                                'alt' : 'Titre'
                            }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Sous-titre</label>
                    <div class="control">
                        {{ form_widget(presentation_form.sub_title, {'attr' : {
                                'class' : 'input',
                                'placeholder' : 'ex : Voici mes services',
                                'alt' : 'Sous-titre'
                            }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Texte</label>
                    <div class="control">
                        {{ form_widget(presentation_form.text, {'attr' : {
                                'class' : 'textarea',
                                'placeholder' : 'Entre le text de la présentation',
                                'pattern' : '[0-9]{10}',
                                'alt' : 'Text de la présentation',
                                'style' :  'resize:none;height:20rem'
                            }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label">Lien du "call to action"</label>
                    <div class="control">
                        {{ form_widget(presentation_form.button_link, {'attr' : {
                            'class' : 'input',
                            'placeholder' : 'ex : https://chrisbdev.com',
                            'alt' : 'Entrer un lien'
                        }
                        }) }}
                    </div>
                </div>

                {{ form_widget(presentation_form.position, {'attr' : {'class' : 'is-hidden',} }) }}

                <div class="field">
                    <label class="label has-text-light">Image d'illustration</label>

                    <figure class="figure" style="position: relative;margin-bottom: .75rem">
                        <img class="img-thumb-projet" src="" alt="">
                    </figure>

                    <div class="control">
                        <div class="file has-name is-fullwidth js-file">
                            <label class="file-label">
                                {{ form_widget(presentation_form.img, {'attr' : {
                                    'class' : 'file-input',
                                    'alt' : 'Uploader une image'} }) }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name has-background-grey-lighter">
                                        Aucune image uploadé
                                </span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                    <div class="control">
                        <button class="button is-green-custom" type="submit">Ajouter</button>
                    </div>
                </div>

                {{ form_end(presentation_form) }}
            </div>

        </section>
    {% endif %}

    {% include 'flash_message.html.twig' %}

{% endblock %}