

<div class="is-centered block-presentation" style="{% if presentation.imgName %}background: center / cover no-repeat url('{{ vich_uploader_asset(presentation, 'img') | imagine_filter('thumb') }}');{% endif %}box-shadow: black 0 0 50px 3px;">

        <div class="container" style="padding-bottom: 1.75rem;width: 80%">

            <p class="title is-1 is-spaced">{{ presentation.title }}</p>
            <p class="subtitle is-3">{{ presentation.subTitle }}</p>

            <article class="message is-primary text-presentation">
                <div class="message-body has-text-dark">
                    {{ presentation.text }}
                    {% if presentation.buttonLink %}
                        <div class="has-text-centered column">
                            <a href="{{ presentation.buttonLink }}" class="button is-primary">En savoir plus...</a>
                        </div>

                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <hr class="has-background-white">
                        <div style="display: flex;">
                            <div class="column half-touch has-text-centered">
                                <span class="icon is-medium">
                                    <a style="text-decoration: none" href="{{ path('del_presentation', {'id': presentation.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la présentation"></a>
                                </span>
                            </div>

                            <div class="column half-touch has-text-centered">
                                <span class="icon is-medium">
                                    <a style="text-decoration: none" href="{{ path('edit_presentation', {'id': presentation.id}) }}" class="fas fa-2x fa-edit has-text-warning" title="éditer la présentation"></a>
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </article>



        </div>

</div>



