{% extends 'base.html.twig' %}

{% block title %}Chris B Dev - Modifier une présentation{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <section class="has-text-centered hero is-bold is-fullheight is-primary" style="justify-content: center;align-items: center;position: relative;padding: 2rem;">

            <h1 class="title has-text-black-bis has-text-weight-bold" style="text-transform: uppercase">
                Modifier la présentation :
            </h1>
            <h2 class="subtitle has-text-black-bis is-family-primary is-4">" {{ presentation.title }} "</h2>


            <div class="box column is-two-fifths is-full-touch has-background-black-bis" style="align-self: center">

                <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                    <span class="icon is-medium">
                        <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}#presentations" title="Revenir à l'accueil">
                            <span style="text-decoration: none" class="fas fa-lg fa-arrow-left has-text-dark"></span>
                        </a>
                    </span>

                    <span class="icon is-medium">
                        <a style="text-decoration: none" href="{{ path('del_presentation', {'id': presentation.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la présentation"></a>
                    </span>

                </div>

                {{ form_start(presentation_form) }}

                <div class="field">
                    <label class="label has-text-light">Titre</label>
                    <div class="control">
                        {{ form_row(presentation_form.title, {'attr' : {'class' : 'input', 'placeholder' : 'ex : chris B developper', 'alt' : 'Titre' }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Sous-titre</label>
                    <div class="control">
                        {{ form_row(presentation_form.sub_title, {'attr' : {'class' : 'input', 'placeholder' : 'ex : Voici mes services', 'alt' : 'Sous-titre' }
                        }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Texte</label>
                    <div class="control">
                        {{ form_row(presentation_form.text, {'attr' : {
                            'class' : 'textarea',
                            'placeholder' : 'Entre le text de la présentation',
                            'pattern' : '[0-9]{10}',
                            'alt' : 'Text de la présentation',
                            'style' :  'resize:none'} }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Lien du "call to action"</label>
                    <div class="control">
                        {{ form_row(presentation_form.button_link, {'attr' : {
                            'class' : 'input',
                            'placeholder' : 'ex : https://chrisbdev.com',
                            'alt' : 'Entrer un lien'} }) }}
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">Image d'illustration</label>

                    {% if presentation.imgPresentationName %}
                        <figure class="figure" style="position: relative;margin-bottom: .75rem">
                            <a href="{{ path('del_img_presentation', {'id': presentation.id}) }}" class="delete is-large" style="position: absolute;top: .3rem;right: .3rem;"></a>
                            <img class="img-thumb-presentation" src="{{ vich_uploader_asset(presentation, 'img') | imagine_filter('thumb') }}" alt="{{ presentation.imgPresentationName }}">
                        </figure>
                        {% endif %}

                    <div class="control">
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form_row(presentation_form.img, {'attr' : {
                                    'class' : 'file-input',
                                    'alt' : 'Uploader une image'} }) }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name has-background-grey-lighter">
                                    {% if presentation.imgPresentationName %}
                                        {{ presentation.imgPresentationName }}
                                    {% else %}
                                        Aucune image uploadé
                                    {% endif %}
                                </span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="field is-grouped is-flex" title="Submit" style="justify-content: center">
                    <div class="control">
                        <button class="button is-green-custom" type="submit">Valider les modifications</button>
                    </div>
                </div>


                {{ form_end(presentation_form) }}

            </div>

            <a href="{{ path('home') }}#presentation" class="button is-warning">
                Retour
            </a>


        </section>
    {% endif %}

{% endblock %}