{% extends 'base.html.twig' %}

{% block title %}chrisBdev | Noter chrisBdev{% endblock %}

{% block meta_description %}N'hésitez pas à laisser votre avi concernant chrisBdev !{% endblock %}


{% block body %}
    <div id="contact" style="position: relative;top: -7rem;"></div>
    <section class="hero is-bold is-normal" style="background: center / cover no-repeat fixed url('{{ asset('build/images/world-1837416.0f66458f.svg') }}');position: relative;">
        <div class="section-bg-layer"></div>
        <div class="hero-body">
            <div class="container">
                <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">
                    Avis client
                    <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-left"></i>
                </span>
                </h1>
            </div>
        </div>

        {{ form_start(avi_form, {'attr': {'id': 'aviForm'}}) }}
{#        <form id="aviForm" name="avi" method="post">#}
        {{ include('sections/avis/avi_from.html.twig') }}
{#        </form>#}
        {{ form_end(avi_form) }}

    </section>

    {#       CODE POUR RECAPTCHA GOOGLE       #}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("aviForm").submit();
        }
    </script>

{% endblock %}

{#{% block body %}#}

{#    <section class="hero is-bold is-normal is-dark">#}
{#        <div class="hero-body">#}
{#            <div class="container">#}
{#                <h1 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-left" style="align-items: baseline">#}
{#                    Avis client#}
{#                    <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">#}
{#                        <i class="fas fa-arrow-alt-circle-left"></i>#}
{#                    </span>#}
{#                </h1>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#        <div class="columns has-text-centered is-centered">#}

{#            <div class="column is-one-third-desktop is-two-fifth-fullhd">#}

{#                <h2>Noter et soummettre son avis sur chrisBdev</h2>#}

{#                {{ form_start(avi_form, {'attr': {'id': 'aviForm'}}) }}#}
{#                {{ include('sections/avis/avi_from.html.twig') }}#}
{#                {{ form_end(avi_form) }}#}
{#            </div>#}

{#        </div>#}



{#{% endblock %}#}