{{ form_start(avi_form) }}

{{ form_widget(avi_form.note) }}
{{ form_widget(avi_form.commentaire) }}

<button type="submit" class="button is-green-custom has-text-weight-bold">
    Noter chrisBdev
</button>
{{ form_end(avi_form) }}
{#<a href="{{ path('add_avi') }}" class="button is-green-custom has-text-weight-bold">#}
{#    Noter chrisBdev#}
{#</a>#}