<div id="cv" style="position: relative;top: -7rem;"></div>
<section class="hero is-dark is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Avis clients
            </h2>

            <div class="is-justify-content-center has-text-centered">

                <div class="column">
                    {% if avis is empty %}
                        <article class="message is-small">
                            <div class="message-header is-green-custom">
                                <p>En cours de progression...</p>
                                <span class="icon is-small">
                                <i class="fas fa-lg fa-info-circle"></i>
                            </span>
                            </div>
                            <div class="message-body has-text-left">
                                Soyez le premier à noter chrisBdev !
                            </div>
                            <div class="column">
                                <a href="{{ path('add_avi') }}" class="button is-green-custom has-text-weight-bold">
                                    Noter chrisBdev
                                </a>
                            </div>
                        </article>
                    {% else %}

                        {% for avi in avis %}
                            Note : {{ avi.note }}<br>
                            {% if avi.user %}
                                Utilisateur : {{ avi.user }}<br>
                            {% else %}
                                Utilisateur : <i>Anonyme</i><br>
                            {% endif %}
                            Date : {{ avi.date|date }}<br>
                            {% if avi.commentaire %}
                                Commentaire : {{ avi.commentaire }}
                            {% endif %}
                            <br><br>
                        {% endfor %}

                        <div class="column">
                                <div class="column">
                                    <a href="{{ path('add_avi') }}" class="button is-green-custom has-text-weight-bold">
                                        Noter chrisBdev
                                    </a>
                                </div>
                        </div>

                    {% endif %}
                </div>




            </div>

        </div>
    </div>
</section>