
    <div class="box is-relative {% if avis.validated == true %} box-avis {% elseif avis.validated == false %} is-shadow {% endif %}">
        {% set nb = avis.note %}
        <div class="column is-flex is-align-items-center is-justify-content-center">
            {% for i in 1..nb %}
                <div class="column">
                <span class="icon is-size-4-desktop has-text-white">
                    <i class="fas fa-star fa-2x is-text-green-custom has-text-green-neon-secondary"></i>
                </span>
                </div>
            {% endfor %}
        </div>
        {% if avis.commentaire %}
            <article class="message is-dark">
                <div class="message-body">
                    {{ avis.commentaire }}
                </div>
            </article>
        {% endif %}

        <div class="is-flex-desktop is-justify-content-space-between">
        <span>
            {% if avis.user %}
                Par {{ avis.user }}
            {% else %}
                Par <i>client anonyme</i>
            {% endif %}
        </span>

            <span>
            Emis le {{ avis.date|date("d/m/Y à H:i") }}
        </span>

        </div>

        {% if is_granted("ROLE_ADMIN") %}

            {% if avis.validated == false %}
                <span class="icon is-medium" style="position: absolute;top: .5rem;left: .5rem;">
                <a href="{{ path('avis_on_off', {id: avis.id}) }}" class="fas fa-2x fa-eye" title="rendre visible la note client"></a>
            </span>
                <span class="icon is-medium" style="position: absolute;top: .5rem;right: .5rem;">
                <a href="{{ path('avis_delete', {id: avis.id}) }}" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer la note client"></a>
            </span>
            {% else %}
                <span class="icon is-medium" style="position: absolute;top: .5rem;left: .5rem;">
                <a href="{{ path('avis_on_off', {id: avis.id}) }}" class="fas fa-2x fa-eye-slash" title="rendre invisible la note client"></a>
            </span>
            {% endif %}

        {% endif %}

    </div>

