<div id="avi" style="position: relative;top: -7rem;"></div>
<section class="hero is-dark is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Avis clients
            </h2>

            <div class="is-flex is-justify-content-center has-text-centered">

                <div class="column is-two-thirds-desktop">
                    {% if avis is empty %}
                        <article class="message is-small">
                            <div class="message-header is-green-custom">
                                <p>Soutennez chrisBdev</p>
                                <span class="icon is-small">
                                <i class="fas fa-lg fa-info-circle"></i>
                            </span>
                            </div>
                            <div class="message-body has-text-left">
                                Soyez le premier à noter chrisBdev !
                            </div>
                            <div class="column">
                                <a href="{{ path('add_avis') }}" class="button is-green-custom has-text-weight-bold">
                                    Noter chrisBdev
                                </a>
                            </div>
                        </article>
                    {% else %}

                        {% for avis in avis %}
                            <div class="box">
                                {% set nb = avis.note %}
                                <div class="column is-flex is-align-items-center">
                                    {% for i in 1..nb %}
                                        <div class="column">
                                        <span class="icon is-size-4 is-size-5-touch has-text-white">
                                            <i class="fas fa-star fa-2x is-text-green-custom"></i>
                                        </span>
                                        </div>
                                    {% endfor %}
                                </div>
                                <br>
                                {% if avis.commentaire %}
                                    <article class="message is-dark">
                                        <div class="message-body">
                                            {{ avis.commentaire }}
                                        </div>
                                    </article>
                                {% endif %}

                                <div class="columns is-justify-content-space-between">
                                    <span>
                                        {% if avis.user %}
                                            Par {{ avis.user }}
                                        {% else %}
                                            Par <i>client anonyme</i>
                                        {% endif %}
                                    </span>

                                    <span>
                                        Emis le {{ avis.date|date("d/m/Y à H:i") }}
                                    </span>

                                </div>
                            </div>
                        {% endfor %}

                        <div class="column">
                                <div class="column">
                                    <a href="{{ path('add_avis') }}" class="button is-green-custom has-text-weight-bold">
                                        Noter chrisBdev
                                    </a>
                                </div>
                        </div>

                    {% endif %}
                </div>




            </div>

        </div>
    </div>
</section>