<div id="cv" style="position: relative;top: -7rem;"></div>
<section class="hero is-dark is-bold is-normal">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle is-1 has-text-light has-text-weight-bold has-text-centered-touch is-flex-desktop subtitle-right" style="align-items: baseline">
                <span class="icon has-text-light is-hidden-touch" style="margin: 0 1.75rem">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                </span>
                Avis clients
            </h2>

            <div class="is-justify-content-center has-text-centered">

                <div class="column">
                    {% if avi is empty %}
                        <article class="message is-small">
                            <div class="message-header">
                                <p>Oops !</p>
                                <span class="icon is-small">
                                <i class="fas fa-lg fa-exclamation-triangle"></i>
                            </span>
                            </div>
                            <div class="message-body has-text-left">
                                En cours de construction...
                            </div>
                        </article>
                    {% else %}
                        {% for avi in avi %}
                            {{ avi.note }}
                            {{ avi.user.email }}
                            {{ avi.date }}
                            {{ avi.commentaire }}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="column">
                    {% if is_granted("ROLE_USER") %}
                        <a href="#" class="button is-green-custom has-text-weight-bold">
                            Noter chrisBdev
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="button is-green-custom has-text-weight-bold">
                            Noter chrisBdev
                        </a>
                    {% endif %}
                </div>


            </div>

        </div>
    </div>
</section>