<h1 class="title has-text-weight-bold has-text-primary">
    <span class="icon is-medium">
        <i class="fas fa-shield-alt"></i>
    </span>
    Modifier mon mot de passe
</h1>

{% if form_errors(changePasswordForm) != null %}
    <article class="message is-small is-danger">
        <div class="message-header">
            <p>Oops !</p>
            <span class="icon is-small has-text-white">
                <i class="fas fa-lg fa-exclamation-triangle"></i>
            </span>
        </div>
        <div class="message-body">
            {{ form_errors(changePasswordForm) }}
        </div>
    </article>
{% endif %}

<div class="" style="align-self: center">

    <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                <span class="icon is-medium">
                    <a class="button is-small is-green-custom" type="submit" href="{{ path('user_edit') }}" title="Revenir en arrière">
                        <span style="text-decoration: none" class="fas fa-lg fa-arrow-left has-text-dark"></span>
                    </a>
                </span>

    </div>

    {{ form_start(changePasswordForm) }}

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-unlock-alt"></i>
            </span>
            Ancien mot de passe
        </label>
        <div class="control">
            {{ form_widget(changePasswordForm.password, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-key"></i>
            </span>
            Nouveau mot de passe
        </label>
        <div class="control">
            {{ form_widget(changePasswordForm.plainPassword.first, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-key"></i>
            </span>
            Confirmer mon nouveau mot de passe
        </label>
        <div class="control">
            {{ form_widget(changePasswordForm.plainPassword.second, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

</div>

<div class="field is-grouped is-flex" style="justify-content: center;padding-top: .75rem">
    <div class="control">
        <button class="button is-green-custom g-recaptcha" type="submit" >Valider</button>
    </div>
</div>

{{ form_end(changePasswordForm) }}
