<h1 class="title has-text-weight-bold has-text-primary">
    Modifier mon profile
</h1>
<h2 class="subtitle is-family-primary is-4">"{{ user.username }}"</h2>

<div class="" style="align-self: center">

    <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                <span class="icon is-medium">
                    <a class="button is-small is-green-custom" type="submit" href="{{ path('home') }}" title="Revenir à l'accueil">
                        <span style="text-decoration: none" class="fas fa-lg fa-arrow-left has-text-dark"></span>
                    </a>
                </span>

        {#                    <span class="icon is-medium">#}
        {#                        <a style="text-decoration: none" href="" class="fas fa-2x fa-times-circle has-text-danger" title="supprimer mon profile"></a>#}
        {#                    </span>#}

    </div>

    {{ form_start(form) }}

    <div class="field">
        <label class="label has-text-light">Mon nom</label>
        <div class="control">
            {{ form_widget(form.lastName, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light">Mon prénom</label>
        <div class="control">
            {{ form_widget(form.name, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light">Mon adresse mail</label>
        <div class="control">
            {{ form_widget(form.email, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <label class="label has-text-light">Ma date de naissance</label>
    <div class="field has-addons" style="margin-bottom: .75rem">

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.day, {'attr' : {'alt' : 'jour'}} ) }}</div>
            </div>

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.month, {'attr' : {'alt' : 'mois'}} ) }}</div>
            </div>

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.year, {'attr' : {'alt' : 'annee'}} ) }}</div>
            </div>

        </div>
    </div>

    <div class="field is-grouped is-flex" style="justify-content: center;padding-top: .75rem">
        <div class="control">
            <button class="button is-green-custom g-recaptcha" type="submit" >Valider les modifications</button>
        </div>
    </div>

    {{ form_end(form) }}
