<h1 class="title has-text-weight-bold has-text-primary">
    <span class="icon is-medium">
        <i class="fas fa-id-card"></i>
    </span>
    Modifier mon profil
</h1>
<h2 class="subtitle is-family-primary is-4">"{{ user.username }}"</h2>

<div class="" style="align-self: center">

    <div class="column half-touch has-text-centered is-flex" style="justify-content: space-between">

                <span class="icon is-medium">
                    <a class="button is-small is-green-custom" type="submit" href="{{ path('user_space') }}" title="Revenir dans mon espace personnel">
                        <span style="text-decoration: none" class="fas fa-lg fa-arrow-left"></span>
                    </a>
                </span>

    </div>

    {{ form_start(form) }}

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-male"></i>
            </span>
            Mon nom
        </label>
        <div class="control">
            {{ form_widget(form.lastName, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-user"></i>
            </span>
            Mon prénom
        </label>
        <div class="control">
            {{ form_widget(form.name, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <div class="field">
        <label class="label has-text-light has-text-left">
            <span class="icon">
                <i class="fas fa-at"></i>
            </span>
            Mon adresse mail
        </label>
        <div class="control">
            {{ form_widget(form.email, {'attr': {'class': 'input is-primary'}}) }}
        </div>
    </div>

    <label class="label has-text-light has-text-left">
        <span class="icon">
            <i class="fas fa-birthday-cake"></i>
        </span>
        Ma date de naissance
    </label>
    <div class="field has-addons" style="margin-bottom: .75rem">

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.day, {'attr' : {'alt' : 'jour'}} ) }}</div>
            </div>

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.month, {'attr' : {'alt' : 'mois'}} ) }}</div>
            </div>

            <div class="control is-expanded">
                <div class="select">{{ form_widget( form.birthday.year, {'attr' : {'alt' : 'annee'}} ) }}</div>
            </div>

        </div>
    </div>

    <div class="field has-text-left">
        {{ form_widget(form.news, {'attr': {'class': 'switch is-small', 'name': 'switchNewsLetter'}}) }}
        <label for="user_news" class="is-size-7 has-text-light">J'accepte de recevoir des mails sur les offres en provenance du site chrisBdev</label>
    </div>

    <a class="tag is-medium is-warning" href="{{ path('user_change_password') }}" style="text-decoration: none">
        <span class="icon">
            <i class="fas fa-key"></i>
        </span>
        <span>
            Modifier mon mot de passe
        </span>
    </a>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="tag is-medium is-danger-custom" href="{{ path('admin_del_user', {'user_id': user.id}) }}" style="text-decoration: none">
        <span class="icon">
            <i class="fas fa-user-minus"></i>
        </span>
            <span>
            Supprimer le compte
        </span>
        </a>
    {% endif %}

    <div class="is-flex" style="justify-content: center;padding-top: 3rem">
        <div class="control" style="width: 100%">
            <button class="button is-fullwidth is-green-custom g-recaptcha" type="submit" >
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>
                    Valider les modifications
                </span>
            </button>
        </div>
    </div>

    {{ form_end(form) }}
