{% extends 'base.html.twig' %}

{% block title %}Chris B dev | Récupération de mot de passe{% endblock %}

{% block body %}
    <section class="hero is-bold section is-dark is-fullheight-with-navbar">
        <div class="columns is-flex has-text-centered is-centered">
            <div class="column is-one-quarter">

                    <h1 class="title has-text-primary">Modification de votre mot de passe</h1>
                    {{ form_start(reset_form) }}

                    <div class="field">
                        <label class="label">Entrez votre nouveau mot de passe</label>
                        <div class="control">
                            {{ form_widget(reset_form.plainPassword.first, {'attr' : {'placeholder' : 'Entrez le Mot de passe', 'class' : 'input', 'alt' : 'password'}
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Validez votre nouveau mot de passe</label>
                        <div class="control">
                            {{ form_widget(reset_form.plainPassword.second, {'attr' : {'placeholder' : 'Répétez votre mot de passe', 'class' : 'input', 'alt' : 'confirm password'}
                            }) }}
                        </div>
                    </div>

                    {% if form_errors(reset_form) != null %}
                        <div class="notification is-danger">
                            <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                            {{ form_errors(reset_form) }}
                        </div>
                    {% endif %}

                    {% include 'flash_message.html.twig' %}

                    <button type="submit" class="button is-info is-small">Modifier</button>

                    {{ form_end(reset_form) }}

            </div>
        </div>
    </section>

{% endblock %}
